<h1>Angular</h1>
<h2>Angular</h2>
<br>
<h3>Angular</h3>
<p>jrvuj67ij6jv76imjasldfkjsldfj</p>
<i>asdfsdafdsaflk</i>
<ul>
  <li>varun</li>
  <li>Kumar</li>
  <li>M</li>
</ul>
<ol>
  <li>varun</li>
  <li>Kumar</li>
  <li>M</li>
</ol>
<style>
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<a href="https://www.msn.com/en-in/entertainment/southcinema/saripodhaa-sanivaaram-on-ott-netflix-prime-video-or-hotstar-where-to-watch-nani-s-telugu-action-thriller-movie/ar-AA1qGQYn?ocid=msedgntp&pc=U531&cvid=6c970c9597c641209bbe12662278a07c&ei=10">click here</a>
<img src="../assets/Images/cooked-food-1860208.jpg" alt="" width="300" height="300">